* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #228b22;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    padding: 0 7vw;
    min-height: 100vh;
    background: url('Images/bg1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 700px;
    height: 100%;
    background: transparents;
    color: white;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: white;
}

.wrapper h1 span{
    text-decoration: underline;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 15px;
   
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    color: white;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bolder;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
}

.wrapper .btn{
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #228b22;
    line-height: 50px;
    background-color: #ffa500;
    border-radius: 40px;
    border: 1px solid #ffa500;
    transition: all 0.2s;
}

.btn:hover{
    background-color: white;
    border: 1px solid #ffa500;
    color: #ffa500;
}

.btn:hover i{
    color: #ffa500;
}

.wrapper .register-link p{
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.register-link p a:hover {
    text-decoration: underline;
    color: #ffa500;
}